@page
@model SegasTelegramBotWebApplicationSP.Pages.CRUD.IndexModel

@{
    ViewData["Title"] = "Admin's Panel";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Admin's Panel</h1>


<p>Bot Reaction: @ViewData["BotReaction"]</p>
<p>Reaction chance: @ViewData["ReactionChance"]%</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SBCommands[0].ChatId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SBCommands[0].ChatName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SBCommands[0].Users)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SBCommands[0].Reactions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SBCommands[0].HowAreYou)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SBCommands[0].Answers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SBCommands[0].TriggersHowAreYou)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SBCommands[0].TriggersAnswers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SBCommands)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ChatId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChatName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Users)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reactions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HowAreYou)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Answers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TriggersHowAreYou)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TriggersAnswers)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>Bot Version: @ViewData["BotVersion"]</p>

<p>Log window:</p>
@ViewData["Error"]